<div class="auth">
  <%= render 'errors' %>

  <h1>Edit movie</h1>

  <%= form_for [:admin, @movie] do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :year %>
      <%= f.number_field :year %>

      <div class="text-center"><%= button_tag "Update Movie" %></div>

  <% end %>

</div>
